body{
    text-align: center;
    background-color: rgb(51, 211, 158);
}
#navigation > .btn_list{
    padding: 20px;
    background-color: white;
}
#content{
    padding: 20px;
    background-color: white;
}
#footer{
    padding: 20px;
    background-color: white;
}